* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

.container {
    max-width: 1180px;
    width: 100%;
    display: flex;
}

body {
    background-image: url("../img/Bg3.png");
    background-size: cover;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
    position: sticky;
    z-index: 1;
    top: 30px;
    padding: 32px;
    width: 1180px;
    height: 98px;
    border-radius: 10px;
    background: #12130F;
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container #logo {
    width: 155px;
    height: 42.913px;
}

header .container nav {
    display: flex;
    color: aliceblue;
}

header .container nav ul {
    display: flex;
    list-style: none;
}

header .container nav ul a li {
    margin-left: 31px;
    cursor: pointer;
    color: aliceblue;
}

header .container nav ul li:hover {
    transform: scale(1.05);
    transition: 0.1s linear;
}

header .container .img-profile {
    position: relative;
    z-index: 2;
    margin-right: 45px;
}

header .container .img-profile #profile {
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

header .container .dropdown {
    width: 150px;
    border: 1px solid white;
    border-radius: 8px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 26px;
    top: 16px;
    background: #12130F;
    z-index: 1;
    padding-top: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
}

header .container .dropdown.show {
    opacity: 1;
    max-height: 200px;
}

header .container .dropdown .user .informations {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container .dropdown .user .informations p u#name {
    color: #fff;
    font-size: 0.85rem;
    font-weight: bold;
    width: 100%;
}

header .container .dropdown .user .informations p u#email {
    color: #fff;
    font-size: 0.60rem;
    margin-top: 7px;
    width: 100%;
}

header .container .dropdown .user .infos {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 18px;
    border-top: 1px solid #fff;
    margin: 16px 0 16px 0;
    padding-left: 8px;
}

header .container .dropdown .user .infos p {
    text-align: start;
    display: flex;
    margin-top: 12px;
}

header .container .dropdown .user .infos p#config {
    color: aliceblue;
}

header .container .dropdown .user .infos p#logout {
    margin-left: 4px;
    color: rgba(255, 0, 0, 0.705);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 120px);
    margin-top: 80px;
    margin-bottom: 120px;
}

main > #title {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    /* Adicionei um espaço entre o h1 e o conteúdo abaixo */
}

#title h1 {
    font-size: 1.8rem; /* Tamanho grande para destaque */
    color: aliceblue; /* Cor escura elegante */
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Barra de progresso */
.progress-bar-container {
    width: 50%; /* Largura ajustável da barra */
    background-color: #e0e0e0; /* Fundo da barra */
    border-radius: 25px; /* Arredondamento da barra */
    overflow: hidden;
    margin: 0 auto 20px auto; /* Centraliza a barra e adiciona espaçamento abaixo */
    height: 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
}

.progress-bar {
    width: 65%; /* Valor fictício da porcentagem de conclusão */
    height: 100%;
    background-color: #27ae60; /* Cor verde para indicar progresso */
    border-radius: 25px 0 0 25px; /* Arredondamento nas bordas da barra */
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px; /* Centraliza o texto verticalmente */
    transition: width 0.3s ease; /* Transição suave quando a barra se movimentar */
}

.progress-text {
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: aliceblue;
}

.main-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    transition: width 0.3s ease, margin-right 0.3s ease;
}

.module {
    margin-bottom: 20px;
    transition: 0.2s linear;
}

.dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.dropdown-toggle:after {
    content: "\25BC";
    font-size: 0.8em;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.dropdown-toggle.active:after {
    transform: rotate(120deg);
    content: "\25B2";
    transition: transform 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-content {
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    border-left: 2px solid #4caf50;
    padding-left: 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
}

.dropdown-content.active {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s, height 0.5s;
}

.dropdown-content li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown-content li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.module li {
    display: flex;
    align-items: center;
}

.module li i {
    margin-left: 8px; /* Espaçamento entre o texto e o ícone */
}

.content {
    flex: 0.8;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.video-player {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.video-player img {
    width: 100%;
    border-radius: 10px;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
}

.lesson-info {
    color: #fff;
}

.lesson-info h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.conclude-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color ease 0.3s;
    height: 50px;
    width: 205px;
}

.conclude-button:disabled {
    background-color: gray; /* Cor cinza quando desabilitado */
    cursor: not-allowed; /* Muda o cursor para indicar que está desabilitado */
}

.alerts{
    color: rgba(240, 248, 255, 0.849);
    margin-top: 35px;
}

.alerts > h3{
    color: rgba(255, 0, 0, 0.568);
    margin-bottom: 25px;
}
