* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter";
  }
  
  .container {
    max-width: 1180px;
    width: 100%;
    display: flex;
  }
  
  body {
    background-image: url("../img/Bg3.png");
    background-size: cover;
  }
  
  header {
    position: sticky;
    z-index: 1;
    top: 30px;
    padding: 32px;
    width: 1180px;
    height: 98px;
    border-radius: 10px;
    background: #12130F;
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .container #logo {
    width: 155px;
    height: 42.913px;
  }
  
  header .container nav {
    display: flex;
    color: aliceblue;
  }
  
  header .container nav ul {
    display: flex;
    list-style: none;
  }
  
  header .container nav ul li {
    margin-left: 31px;
    cursor: pointer;
  }
  
  header .container nav ul li:hover {
    transform: scale(1.05);
    transition: 0.1s linear;
  }
  
  header .container .img-profile {
    position: relative;
    z-index: 2;
    margin-right: 45px;
  }
  
  header .container .img-profile #profile {
    width: 50px;
    cursor: pointer;
  }
  
  header .container .dropdown {
    width: 150px;
    border: 1px solid white;
    border-radius: 8px;
    display: block; /* Permanece no fluxo de layout */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 26px;
    top: 16px; /* Ajuste conforme necessário */
    background: #12130F;
    z-index: 1;
    padding-top: 10px;
    opacity: 0; /* Começa invisível */
    max-height: 0; /* Altura inicial zero para esconder */
    overflow: hidden; /* Esconde conteúdo quando altura é zero */
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out; /* Transição suave */
  }
  
  header .container .dropdown.show {
    opacity: 1; /* Torna visível */
    max-height: 200px; /* Expande para altura total */
  }
  
  
  header .container .dropdown .user .informations {
    margin-top: 56px;
  }
  
  header .container .dropdown .user .informations #name {
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
    font-weight: bold;
  }
  
  header .container .dropdown .user .informations #email {
    color: #fff;
    font-size: 0.60rem;
    text-align: center;
    margin-top: 7px;
  }
  
  header .container .dropdown .user .infos {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 18px;
    border-top: 1px solid #fff;
    margin: 16px 0 16px 0;
    padding-left: 8px;
  }
  
  header .container .dropdown .user .infos button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 14px 0 0 0;
  }
  
  header .container .dropdown .user .infos p {
    text-align: start;
  }
  
  header .container .dropdown .user .infos p#logout {
    margin-left: 4px;
    color: rgba(255, 0, 0, 0.705);
  }