* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter";
  }
  
  .container {
    max-width: 1180px;
    width: 100%;
    display: flex;
  }
  
  body {
    background-image: url("../img/Bg3.png");
    background-size: cover;
  }
  
  header {
    position: sticky;
    z-index: 1;
    top: 30px;
    padding: 32px;
    width: 1180px;
    height: 98px;
    border-radius: 10px;
    background: #12130F;
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container img {
    width: 155px;
    height: 42.913px;
  }
  header .container nav {
    display: flex;
    color: aliceblue;
  }
  header .container nav ul {
    display: flex;
    list-style: none;
  }
  header .container nav ul li {
    margin-left: 31px;
    cursor: pointer;
  }
  header .container nav ul li:hover {
    transform: scale(1.05);
    transition: 0.1s linear;
  }
  header .container .dropdown{
    width: 150px;
    height: 200px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .container .dropdown #profile {
    width: 50px;
  }
  header .container .dropdown #profile:hover {
    transform: scale(1.05);
    transition: 0.1s linear;
  }